head {
  background-color: #3a3a3a;
}

body {
  margin: 0;
  background-color: #3a3a3a;
  color: #FFFFFF;
  font-weight: 400;
}

a:link {
  color: #6487ff;
}

a:visited {
  color: #eb64ff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear:both;
}

.logo {
  float: left;
  padding: 5px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:link {
  color: #3a3a3a;
}

nav a:visited {
  color: #3a3a3a;
}

nav a:hover {
  color: #000000;
}

nav a::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #3a3a3a;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.nav-trigger {
  display: none;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.flex-container-col-projs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width:250px;
  border: 2px solid black;
  border-radius: 5px;
  
  margin: 2rem;
}

.flex-container-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-col * {
  padding: 5px;
}

.flex-container-col-projs * {
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.static-image {
	display: flex;
	justify-content: center;
	align-items: center
}

.flex-padding {
	margin:  3rem 5rem 3rem 5rem;
}

.about-text {
	margin: 0 0 0 5rem;
}

button {
  background-color: #55d6aa;
  cursor: pointer;
  color: #000000;
  outline: #000000;
  height: 50px;
  width: 150px;
}

@media screen and (max-width: 900px) {
  .nav-trigger {
    display: block;
    color: #305782;
    padding: 10px;
    text-align: right;
    font-size: 83%;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }

  .nav-expanded {
    display: inline-block;
  }

  nav li {
    display: block;
    border-bottom: 1px solid #3a3a3a;
    position: none;
  }

  nav li:last-child{
    border-bottom: none;
  }

  .flex-container-row {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .flex-container-col {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .flex-padding {
	margin:  3rem 2rem 3rem 2rem;
  }
  
  .about-text {
	  margin: 0
  }
}
